<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8" />
    <title>Examples</title>
    <link rel="stylesheet" href="/assets/styles.css" />
    <script src="/assets/app.js"></script>
    <script src="/assets/specs.js"></script>
  </head>

  <body class="example-content" ng-controller="myCtrl">
    <div class='row-fluid'>
        <h4>Standard Pagination</h4>
        <div class='span4'
          bb-paginate="search.meta.pagination"
          paginator="StandardPaginator"
          on-page-select="selectPage(pageNumber)"
          paginate-beacon ></div>
    </div>
    <div class='row-fluid'>
        <h4>Spaghetti Pagination</h4>
        <div class='span4'
          spag-paginate="search.meta.pagination"
          on-page-select="selectPage(pageNumber)"></div>
    </div>
    <div class='row-fluid'>
        <h4>Standard Pagination with 5 pages</h4>
        <div class='span4'
          bb-paginate="fivepage"
          on-page-select="selectFivePage(pageNumber)"></div>
    </div>
    <div class='row-fluid'>
        <h4>Standard Pagination with &lt; 5 pages</h4>
        <div class='span4'
          bb-paginate="threepage"
          on-page-select="selectThreePage(pageNumber)"></div>
    </div>

    <div class='jasmine-runner-container'>
        <iframe class='jasmine-runner' src="/runner"></iframe>
    </div>
    </div>
  </body>
</html>
